/*
!.bash_profile
!.bashrc
!/.config/
/.config/*
!/.config/dunst/
!/.config/i3/
!/.config/wezterm/
!/.emacs.d/
/.emacs.d/*
!/.emacs.d/early-init.el
!/.emacs.d/init.el
!/.emacs.d/lisp/
!.gitconfig
!.gitignore
!.gitmodules
!README.md
!.vimrc
!.xinitrc
!/.vim/
/.vim/.netrwhist
!.astylerc

!/.local/share/fonts/
!/.local/share/fonts/*
